<div class="modal fade" id="task-edit-modal" tabindex="-1" role="dialog" aria-labelledby="task-edit-modal-title" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body">
          <div class="form-group">
            <label for="task_name">Task Name</label>
            <input name = "task_name" type="task_name" class="form-control" id="new_task_name" required>
          </div>
          <div class="form-group">
            <label for="points">Points</label>
            <input name = "points" type="number" class="form-control" id="new_points">
          </div>
          <div class="form-group">
            <label for="due_date">Due Date</label>
            <input name= "due_date" type="date" class="form-control" id="new_due_date">
          </div>
          <div class="form-check">
            <input class="form-check-input" id="recur_ind_box" type="checkbox">
            <label class="form-check-label" for="defaultCheck1">
              Recur upon completion
            </label>
          </div>
            <div class="form-group recur-details d-none">
            <!--  <div class="radio">
                <label><input type="radio" id="days-creation" name="recurrence" checked>Days After Creation</label>
              </div>
              <div class="radio">
                <label><input type="radio" id="days-completion" name="recurrence">Days After Completion</label>
              </div> -->
              <div>
                <label for="recur_days"></label>
                <input name = "recur_days" type="number" class="form-control" id="recur_days" placeholder="Enter Days" required>
              </div>
            </div>

        </div>

        <div class="modal-footer">
          <input type="submit" id = "submit-edited-task" class="btn btn-primary">
        </div>
      </form>
    </div>
  </div>
</div>
