
<div class="d-flex flex-row mt-3 mb-3 filter-sort-div align-self-center">
  <button class = "btn btn-secondary text-nowrap ml-2 reset-options" type="button">
    Reset <i class="fas fa-redo-alt"></i>
  </button>
  <button class="btn btn-secondary due-date-asc-trigger text-nowrap ml-2">
    Due Date <i class="fas fa-sort-up"></i>
  </button>
  <button class="btn btn-secondary due-date-desc-trigger text-nowrap ml-2">
    Due Date <i class="fas fa-sort-down"></i>
  </button>
  <button class="btn btn-secondary text-nowrap ml-2" id="open-tasks" type="button" name="button">Open Tasks</button>
  <button class="btn btn-secondary text-nowrap ml-2" id="closed-tasks" type="button" name="button">Closed Tasks</button>
  <button class="btn btn-secondary text-nowrap ml-2" id="claimed-tasks" type="button" name="button">Claimed</button>
  <button class="btn btn-light text-nowrap ml-2 archive_tasks" data-list_id={{list.list_id}} type="button">Archive Completed Tasks</button>
  <div class="d-flex input-group ml-2 flex-row-reverse">
    <input id="search-txt" data-jplist-control="textbox-filter" data-group="group1" data-name="my-filter-1" data-path=".task" type="text" value="" placeholder=" Filter by Task" />
  </div>
</div>
