{% extends "base/base_html.html" %}
{% block body %}

<div class="container">
  {% include "base/alerts.html" %}
  <h3>Forgot Password</h3>
  <form id="forgot_password" action="/forgot-password" method="POST">
    <div class="form-group">
      <label for="email">Email address</label>
      <input name = "email" type="email" class="form-control" id="email" required>
    </div>
    <button type="submit" class="btn btn-info">Submit</button>
  </form>
  <br>
  <p>Login at: <a href="{{url_for('login')}}">Login</a></p>
</div>

{% endblock %}
{% block javascript %}
  <script type="text/javascript" src="{{ url_for('static', filename='script/forgot_password.js') }}"></script>
{% endblock %}
