{% extends "base/base_html.html" %}

{% block custom_css %}
<link rel="stylesheet" href="../static/css/lists_css.css">
{% endblock %}
{% block body %}
{% include "base/navbar.html" %}
<div class="container">
  {% include "base/alerts.html" %}
  {% include "base/modal-yes-no.html" %}

  <h3 class="">Hello {{data.user.name}}!</h3>

  <div class="list-add-div mt-4">
    <form class="add-list" action="/api/list/add" method="POST">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary" type="submit">Add</button>
        </div>
        <input name="list_name" type="text" class="form-control" placeholder="Add a new list" required>
      </div>
    </form>
  </div>

  <div class="lists-view">
    <h5>Your Lists:</h5>
    {% for list in data.user_lists %}
      {% with list = list %}
        {% include "components/list_item.html" %}
      {% endwith %}
    {% endfor %}
  </div>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{{ url_for('static', filename='script/dashboard.js') }}"></script>
{% endblock %}
