{% extends "base/base_html.html" %}
{% block body %}

<div class="container">
  {% include "base/alerts.html" %}
  <h3>Welcome Back! Please Login.</h3>
  <form action="/login" method="POST">
    <div class="form-group">
      <label for="email">Email address</label>
      <input name = "email" type="email" class="form-control" id="email" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input name= "password" type="password" class="form-control" id="password" required>
    </div>
    <div class="form-group form-check">
      <input name="remember-me" type="checkbox" class="form-check-input" id="remember-me">
      <label class="form-check-label" for="remember-me">Remember Me</label>
    </div>
    <button type="submit" class="btn btn-info">Login</button>
  </form>
  <br>
  <p>Don't have an account? <a href="{{url_for('register')}}">Register</a></p>
</div>

{% endblock %}
{% block javascript %}
  <script type="text/javascript" src="{{ url_for('static', filename='script/login.js') }}"></script>
{% endblock %}
