{% extends "base/base_html.html" %}
{% block body %}

<div class="container">
  {% include "base/alerts.html" %}

  <div class="lists-view">
    <h1>{{ list.list_name }} <span>
      {% if current_user.id == list.list_owner_id %}
      <button type="button" class="btn btn-primary edit-list">Edit</button>
      {% endif %}
    </span></h1>
    <div class="input-group mb-3 d-none edit-list-input">
      <input id="new_name" type="text" class="form-control" value="{{list.list_name}}">
      <div class="input-group-append">
        <button data-list_id = {{list.list_id}} id="update-list-name" class="btn btn-outline-secondary" type="button">Update</button>
      </div>
    </div>
    {% include "/access.html" %}
    {% for tasks in task_data.tasks %}
    <div class="list-group">

      <a href="#" class="list-group-item list-group-item-action active">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ tasks.task_name }}</h5>
          <div>
            <small>Points: {{tasks.points}}</small><br>
            <small>Complete by: {{ tasks.due_date }}</small><br>
            <table>
              <tr>
                <form action="/api/{{list.list_id}}/task/{{tasks.task_id}}/delete" method="POST">
                  <button type="submit" class="btn btn-danger btn-sm">DELETE</button>
                </form>
                <form action="/api/{{list.list_id}}/task/{{tasks.task_id}}/update_state" method="POST">
                  <button type="submit" class="btn btn-success btn-sm">MARK COMPLETE</button>
                </form>
              </tr>
            </table>
            <!--<small><a action="/api/task/{{task_id}}/delete">DELETE</a></small>-->
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>

  <br>
  <div class="list-add-div">
    <form class="add-task" action="/api/task/{{list_id}}/add" method="POST">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary" type="submit">Add</button>
        </div>
        <input name="task_name" type="text" class="form-control" placeholder="Add a new task" required>
        <input name="points" type="number" class="form-control" placeholder="Point Value" required>
        <input name="due_date" type="date" class="form-control" placeholder="Due Date" required>
      </div>
    </form>
  </div>
</div>

{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{{ url_for('static', filename='script/tasks_page.js') }}"></script>
{% endblock %}
