{% extends "base/base_html.html" %}

{% block custom_css %}
<link rel="stylesheet" href="../static/css/task_css.css">
{% endblock %}

{% block body %}

<div class="container">
  {% include "base/alerts.html" %}
  {% include "base/modal-yes-no.html" %}
  {% include "base/task-edit-modal.html" %}
  <div class="lists-view mt-5 mb-3">
    <h1 class="list-title">{{ list.list_name }} <span>
        {% if current_user.id == list.list_owner_id %}
        <button type="button" class="btn btn-small edit-list"><i class="fas fa-edit"></i></button>
        {% endif %}
      </span>
    </h1>
    <div class="input-group mb-3 d-none edit-list-input">
      <input id="new_name" type="text" class="form-control edit-list-input" value="{{list.list_name}}">
      <div class="input-group-append">
        <button data-list_id={{list.list_id}} id="update-list-name" class="btn btn-outline-secondary" type="button">Update</button>
      </div>
    </div>
  </div>
  {% include "/access.html" %}
  <br>

  <div class="list-add-div">
    <form class="add-task" action="/api/task/{{list_id}}/add" method="POST">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-outline-success" type="submit"><i class="fas fa-plus"></i></button>
        </div>
        <input name="task_name" type="text" class="form-control" placeholder="Add a new task" required />
        <input name="points" type="number" class="form-control" placeholder="Point Value" />
        <input name="due_date" type="date" class="form-control" placeholder="Due Date" />
      </div>
    </form>
  </div>

  <div class="task-view">
    {% for tasks in task_data.tasks %}
      {% with task=tasks %}
        {% include "/task_item.html" %}
      {% endwith %}
    {% endfor %}
  </div>

</div>

{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{{ url_for('static', filename='script/tasks_page.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='script/dashboard.js') }}"></script>
{% endblock %}
