/* body{
  background-color: #faf3dd;
} */

nav{
  background-color: #faf3dd;
}

.task-view{
  border: 1px solid white;
  border-radius: 4px;
  background-color: #fbfbf8;
}

.completed {
  text-decoration: line-through wavy gray;
}

.c-green {
  color: green;
}

.task {
  font-size: 20px;
}

.delete_task {
  color:red;
}

.task_claim {
  color: gray;
}


.fa-star.claimed {
  color: yellow;
}

.task_edit {
  color: gray;
}

.claim_task {
  color: gray;
}

.claimed {
  color: #b9eac4;
}
/* move to correct css file */
.user-name {
  font-siz: 20px;
}

.edit-list-input {
  font-size: 32px;
}

.task-view {
  height: 500px;
  overflow: scroll;
}
